<div class="container"> 

  <div class="c_breadcrumb c_breadcrumb--article">
    {{breadcrumbs}}    
  </div>
  
  <div class="c_article">

    <div class="c_article-category">
      <h5>{{section.description}}</h5>
    </div>

    <div class="c_article-header">
       <h1 title="{{article.title}}">{{article.title}}</h1>
    </div>

    <div class="c_article-content">
      {{article.body}}
    </div>

    <div class="c_article-attachments">
      <ul class="attachments">
        {{#each attachments}}
          <li class="attachment-item">
            <a href="{{url}}" target="_blank">{{name}}</a>
            <div class="attachment-meta meta-group">
              <span class="attachment-meta-item meta-data">{{size}}</span>
              <a href="{{url}}" target="_blank" class="attachment-meta-item meta-data">Download</a>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class="c_article-votes">
      {{#with article}}        
        <h3>{{t 'was_this_article_helpful'}}</h3>
        <div class="c_article-votes-controls" role='radiogroup'>
          {{vote 'up' role='radio' class='button article-vote article-vote-up'}}
          {{vote 'down' role='radio' class='button article-vote article-vote-down'}}
        </div>       
      {{/with}}
    </div>

  </div>

  <section class="c_contact">
    <h2>{{dc 'hp_we_are_here'}}</h2>
    <div class="c_contact-item c_contact-chat">
      <div class="c_contact-icon"><img src="{{asset 'ico_instant_chat.svg'}}" alt="{{dc 'contact_chat_cta'}}" /></div>
      <div class="c_contact-content">
        {{dc 'contact_chat'}}
      </div>        
      <div class="c_contact-cta">
        <a href="#" class="c_contact-ctaLink">{{dc 'contact_chat_cta'}} <img src="{{asset 'arrow-forward-dark.svg'}}" alt="{{dc 'contact_chat_cta'}}" /></a>
      </div>        
    </div>
    <div class="c_contact-item c_contact-email">
      <div class="c_contact-icon"><img src="{{asset 'ico_send_email.svg'}}" alt="{{dc 'contact_email_cta'}}" /></div>
      <div class="c_contact-content">
        {{dc 'contact_email'}}
      </div>        
      <div class="c_contact-cta">
        <a href="#" class="c_contact-ctaLink">{{dc 'contact_email_cta'}} <img src="{{asset 'arrow-forward-dark.svg'}}" alt="{{dc 'contact_email_cta'}}" /></a>
      </div>        
    </div>
    <div class="c_contact-item c_contact-talk">
      <div class="c_contact-icon"><img src="{{asset 'ico_talk.svg'}}" alt="{{dc 'contact_talk_cta'}}" /></div>
      <div class="c_contact-content">
        {{dc 'contact_talk'}}
      </div>        
      <div class="c_contact-cta">
        <a href="#" class="c_contact-ctaLink">{{dc 'contact_talk_cta'}} <img src="{{asset 'arrow-forward-dark.svg'}}" alt="{{dc 'contact_talk_cta'}}" /></a>
      </div>        
    </div>
  </section>

</div>
