<footer class="c_footer">
  <div class="c_footer-inner">
    <div class="c_footer-branding">
      <a href="{{help_center.url}}"><img src="{{asset 'logo-footer.png'}}" alt="{{help_center.name}}" /> <span>Support</span></a>
    </div>
    <div class="c_footer-content">
      <div class="c_footer-column">
        <h4>Language</h4>
        <div class="c_footer-language-selector">
          {{#if alternative_locales}}
            <div class="dropdown language-selector">
              <button class="dropdown-toggle" aria-haspopup="true">
                {{current_locale.name}}
              </button>
              <span class="dropdown-menu dropdown-menu-end" role="menu">
                {{#each alternative_locales}}
                  <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                    {{name}}
                  </a>
                {{/each}}
              </span>
            </div>
          {{/if}}
        </div>
        <h4>BANG &amp; OLUFSEN</h4>
        <a href="https://www.bang-olufsen.com">Bang-Olufsen.com</a>
      </div>
      <div class="c_footer-column">
        <h4>Categories</h4>
        <ul>
          <li><a href="#" data-modal="c_modal-message" class="c_footer-link--disabled">Speakers</a></li>
          <li><a href="{{help_center.url}}/categories/360002304491">Headphones</a></li>
          <li><a href="#" data-modal="c_modal-message" class="c_footer-link--disabled">Televisions</a></li>
          <li><a href="#" data-modal="c_modal-message" class="c_footer-link--disabled">Accessories</a></li>
          <li><a href="#" data-modal="c_modal-message" class="c_footer-link--disabled">App</a></li>
          <li><a href="#" data-modal="c_modal-message" class="c_footer-link--disabled">Other</a></li>
          <li><a href="{{help_center.url}}/articles/360037806171">User guide library</a></li>
        </ul>
      </div>
      <div class="c_footer-column">
        <h4>Registration &amp; Policies</h4>
        <ul>
          <li><a href="#">Product registration</a></li>
          <li><a href="#">Warranty service</a></li>
          <li><a href="#">Track repair</a></li>
          <li><a href="#">Online order return</a></li>
          <li><a href="#">Legal information</a></li>
        </ul>
      </div>
      <div class="c_footer-column">
        <h4>Contact</h4>
        <ul>
          <li><a href="#">Chat with us</a></li>
          <li><a href="#">Write us</a></li>          
          <li><a href="#">Call us</a></li>
        </ul>
      </div>
    </div>
    <div class="c_footer-copyright">
      <p>&copy; Bang &amp; Olufsen 2020</p>
    </div>
  </div>
</footer>

<div id="c_modal-message" class="c_modal c_modal-medium">
  <div class="c_modal-close"><img src="{{asset 'ico-close-dark.svg'}}" alt="" /></div>
  <div class="c_modal-content">
    <h3>Our support site is under construction</h3>
    <p>We are creating a brand-new support section for you, and we are currently running a pilot covering Beoplay E8 (1st generation only) and Beoplay H9i.</p>
    <p>For support for all other products, we refer to the regular support pages accessed via the link below.</p>    
  </div>
  <div class="c_modal-cta">
    <a class="c_modal-primaryCTA" href="https://www.bang-olufsen.com/en/customer-service">REGULAR SUPPORT PAGES <img src="{{asset 'arrow-forward-dark.svg'}}" alt="" /></a>
  </div>
</div>
<div class="c_modal-backdrop"></div>

<div class="c_chat-icon"><img src="{{asset 'ico-chat.svg'}}" alt="" /></div>
<div class="c_chat" role="main">
  <div class="c_chat-header">Chat Header</div>
</div>

<div class="c_cookiePolicy">
  <div class="container">
    {{dc 'cookie_policy'}}
    <div class="c_cookiePolicy-close"><a href="#"><img src="{{asset 'ico-close.svg'}}" alt="" /></a></div>
  </div>
</div>

<div class="c_chat-overlay"></div>
<script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
