<footer class="footer">
  <div class="footer-inner">
    {{#link 'help_center'}}{{help_center.name}}{{/link}}<br/>
    <a href="{{help_center.url}}/articles/360037806171">Legacy Library</a>

    <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_locale.name}}
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div>
  </div>
</footer>

<div id="c_modal-message" class="c_modal c_modal-small c_modal-centered">
  <div class="c_modal-close"><span class="icon-close"></span></div>
  <div class="c_modal-content">
    <h3>Sorry for the mess but we're learning here</h3>
    <p>We are currently running a pilot for our new support section.</p>
    <p>This pilot is only covering our E8 and H9 headphones product range and it seems like you are looking for support with another product.</p>
    <p>Don't worry. the link below will take  you to our regular support section.</p>    
  </div>
  <div class="c_modal-cta">
    <a class="c_modal-primaryCTA" href="https://www.bang-olufsen.com/en/customer-service">B &amp; O Regular Support</a>
  </div>
</div>
<div class="c_modal-backdrop"></div>
