<header class="c_header">
  <div class="c_header-branding">
    <div class="c_header-menu">
      <a href="#"><img src="{{asset 'ico-menu.svg'}}" alt="" /></a>
    </div>
    <div class="c_header-close">
      <a href="#"><img src="{{asset 'ico-close.svg'}}" alt="" /></a>
    </div>
    <div class="c_header-cta">    
      <a href="https://www.bang-olufsen.com"><img src="{{asset 'arrow-back.svg'}}" alt="bang-olufsen.com" /> bang-olufsen.com</a>
    </div>
    <div class="c_header-logo">    
        {{#link 'help_center'}}
          <img src="{{asset 'logo.svg'}}" alt="{{t 'home_page' name=help_center.name}}" /><span>Support</span>
        {{/link}}
    </div>
  </div>
  <div class="c_header-navigation">    
    <ul>      
      <li class="c_header-mobileOnly">
        {{search instant=settings.instant_search submit=false class='search search-full search-mobile'}}
      </li>
      <li><a href="#" data-modal="c_modal-message" class="c_header-navigation--disabled">Speakers</a></li>
      <li><a href="{{help_center.url}}/categories/360002304491">Headphones</a></li>
      <li><a href="#" data-modal="c_modal-message" class="c_header-navigation--disabled">Televisions</a></li>
      <li><a href="#" data-modal="c_modal-message" class="c_header-navigation--disabled">Accessories</a></li>
      <li><a href="#" data-modal="c_modal-message" class="c_header-navigation--disabled">App</a></li>
      <li><a href="#" data-modal="c_modal-message" class="c_header-navigation--disabled">Other</a></li>
      <li class="c_header-desktopOnly"><a href="#" class="c_header-search"><img src="{{asset 'ico-search.svg'}}" /></a></li>
      <li class="c_header-mobileOnly"><a href="https://www.bang-olufsen.com">bang-olufsen.com</a></li>
    </ul>
  </div>
</header>