<section class="c_hero c_hero--home">
  <div class="c_hero-inner">
    <div class="c_hero-message">{{dc 'welcome_support_message'}}</div>
    <div class="c_hero-search">
      {{search submit=false instant=settings.instant_search class='search search-full'}}
    </div>
  </div>
  <img class="c_hero-image" src="{{settings.homepage_background_image}}" alt="{{dc 'welcome_support_message'}}" />
  <div class="c_hero-overlay"></div>
</section>

<div class="container">
  <div class="c_breadcrumb">    
    <ol class="breadcrumbs">
      <li><a href="{{help_center.url}}">{{help_center.name}}</a></li>
    </ol>
  </div>
  <section class="c_products">
    <ul>
      {{#each categories}}
        {{#if ../has_multiple_categories}}
          {{#isnt id 360002291372}}
            {{#isnt id 360002304511}}
              {{#isnt id 360002304531}}
                {{#isnt id 360002304551}}
                  {{#isnt id 360002430331}}
                    <li class="c_products-item">
                      {{#is id 360002296932}}
                        <a href='#' class="c_products-itemLink c_products-itemLink--disabled" data-modal="c_modal-message" data-id="{{id}}">
                          <div class="c_products-itemVisual">
                            <img src="{{asset 'bo_speakers.png'}}" alt="{{name}}" />
                          </div>
                          <h4 class="c_products-itemTitle">{{name}} <img src="{{asset 'arrow-forward-dark.svg'}}" alt="" /></h4> 
                        </a>
                      {{/is}}
                      {{#is id 360002296952}}
                        <a href='#' class="c_products-itemLink c_products-itemLink--disabled" data-modal="c_modal-message" data-id="{{id}}">
                          <div class="c_products-itemVisual">
                            <img src="{{asset 'bo_televisions.png'}}" alt="{{name}}" />
                          </div>
                          <h4 class="c_products-itemTitle">{{name}} <img src="{{asset 'arrow-forward-dark.svg'}}" alt="" /></h4> 
                        </a>
                      {{/is}}
                      {{#is id 360002304491}}
                        <a href='{{url}}' class="c_products-itemLink" data-id="{{id}}">
                          <div class="c_products-itemVisual">
                            <img src="{{asset 'bo_headphones.png'}}" alt="{{name}}" />
                          </div>
                          <h4 class="c_products-itemTitle">{{name}} <img src="{{asset 'arrow-forward-dark.svg'}}" alt="" /></h4> 
                        </a>
                      {{/is}}
                      {{#is id 360002384932}}
                        <a href='#' class="c_products-itemLink c_products-itemLink--disabled" data-modal="c_modal-message" data-id="{{id}}">
                          <div class="c_products-itemVisual">
                            <img src="{{asset 'bo_accessories.png'}}" alt="{{name}}" />
                          </div>
                          <h4 class="c_products-itemTitle">{{name}} <img src="{{asset 'arrow-forward-dark.svg'}}" alt="" /></h4> 
                        </a>
                      {{/is}}
                      {{#is id 360002405932}}
                        <a href='#' class="c_products-itemLink c_products-itemLink--disabled" data-modal="c_modal-message" data-id="{{id}}">
                          <div class="c_products-itemVisual">
                            <img src="{{asset 'bo_apps.png'}}" alt="{{name}}" />
                          </div>
                          <h4 class="c_products-itemTitle">{{name}} <img src="{{asset 'arrow-forward-dark.svg'}}" alt="" /></h4> 
                        </a>
                      {{/is}}
                      {{#is id 360002413751}}
                        <a href='#' class="c_products-itemLink c_products-itemLink--disabled" data-modal="c_modal-message" data-id="{{id}}">
                          <div class="c_products-itemVisual">
                            <img src="{{asset 'bo_others.png'}}" alt="{{name}}" />
                          </div>
                          <h4 class="c_products-itemTitle">{{name}} <img src="{{asset 'arrow-forward-dark.svg'}}" alt="" /></h4> 
                        </a>
                      {{/is}}                      
                    </li>
                  {{/isnt}}
                {{/isnt}}
              {{/isnt}}  
            {{/isnt}}
          {{/isnt}}
        {{/if}}
      {{/each}}
    </ul>    
  </section>

  {{#each categories}}
    {{#is id 360002291372}}
      {{#each sections}}
        {{#is id 360007112072}}
          {{#each articles}}
            {{#is id 360037095852}}
              <div class="c_teaserBlock">
                <div class="c_teaserBlock-visual">
                  <img src="{{asset 'bo_setup_customize.jpg'}}" alt="{{title}}" data-speed="0.8" class="c_paralax-image" />                  
                </div>
                <div class="c_teaserBlock-content">
                  <h3>Set up and customise your products</h3>
                  <p>Besides setting up and customising your products, the Bang &amp; Olufsen app lets you make sound settings, update the software of your products and much more.</p>
                  <a  href="{{url}}" class="c_teaserBlock-cta">{{dc 'get_started'}} <img src="{{asset 'arrow-forward.svg'}}" alt="{{dc 'get_started'}}" /></a>
                </div>
                <div class="c_teaserBlock-overlay"></div>
              </div>
            {{/is}}
          {{/each}}
        {{/is}}
      {{/each}}
    {{/is}}
  {{/each}}
  
  <section class="c_contact">
    <h2>{{dc 'hp_we_are_here'}}</h2>
    <div class="c_contact-item c_contact-chat">
      <div class="c_contact-icon"><img src="{{asset 'ico_instant_chat.svg'}}" alt="{{dc 'contact_chat_cta'}}" /></div>
      <div class="c_contact-content">
        {{dc 'contact_chat'}}
      </div>        
      <div class="c_contact-cta">
        <a href="#" class="c_contact-ctaLink">{{dc 'contact_chat_cta'}} <img src="{{asset 'arrow-forward-dark.svg'}}" alt="{{dc 'contact_chat_cta'}}" /></a>
      </div>        
    </div>
    <div class="c_contact-item c_contact-email">
      <div class="c_contact-icon"><img src="{{asset 'ico_send_email.svg'}}" alt="{{dc 'contact_email_cta'}}" /></div>
      <div class="c_contact-content">
        {{dc 'contact_email'}}
      </div>        
      <div class="c_contact-cta">
        <a href="#" class="c_contact-ctaLink">{{dc 'contact_email_cta'}} <img src="{{asset 'arrow-forward-dark.svg'}}" alt="{{dc 'contact_email_cta'}}" /></a>
      </div>        
    </div>
    <div class="c_contact-item c_contact-talk">
      <div class="c_contact-icon"><img src="{{asset 'ico_talk.svg'}}" alt="{{dc 'contact_talk_cta'}}" /></div>
      <div class="c_contact-content">
        {{dc 'contact_talk'}}
      </div>        
      <div class="c_contact-cta">
        <a href="#" class="c_contact-ctaLink">{{dc 'contact_talk_cta'}} <img src="{{asset 'arrow-forward-dark.svg'}}" alt="{{dc 'contact_talk_cta'}}" /></a>
      </div>        
    </div>
  </section>

  <section class="c_support">
    <div class="c_support-item">
      <a href="#">
        <div class="c_support-itemVisual">
          <img src="{{asset 'bo_register_product.jpg'}}" alt="" />
        </div>
        <div class="c_support-itemContent">
          Register your product
        </div>
        <div class="c_suppoprt-itemCTA">
          Register Product <img src="{{asset 'arrow-forward.svg'}}" alt="" />
        </div>
      </a>
    </div>
    <div class="c_support-item">
      <a href="#">
        <div class="c_support-itemVisual">
          <img src="{{asset 'bo_warranty_service.jpg'}}" alt="" />
        </div>
        <div class="c_support-itemContent">
          We provide full coverage with B&amp;O specialist repairs and replacements
        </div>
        <div class="c_suppoprt-itemCTA">
          Warranty service <img src="{{asset 'arrow-forward.svg'}}" alt="" />
        </div>
      </a>
    </div>
    <div class="c_support-item">
      <a href="#">
        <div class="c_support-itemVisual">
          <img src="{{asset 'bo_track_repair.jpg'}}" alt="" />
        </div>
        <div class="c_support-itemContent">
          Want to check the status of your warranty repair?
        </div>
        <div class="c_suppoprt-itemCTA">
          Track repair <img src="{{asset 'arrow-forward.svg'}}" alt="" />
        </div>
      </a>
    </div>
    <div class="c_support-item">
      <a href="#">
        <div class="c_support-itemVisual">
          <img src="{{asset 'bo_return_order.jpg'}}" alt="" />
        </div>
        <div class="c_support-itemContent">
          Return your product within 30 days of purchase for a full refund.
        </div>
        <div class="c_suppoprt-itemCTA">
          Return order <img src="{{asset 'arrow-forward.svg'}}" alt="" />
        </div>
      </a>
    </div>
  </section>

</div>