<section class="c_hero c_hero--home">
  <div class="c_hero-inner">
    <div class="c_hero-message">{{dc 'welcome_support_message'}}</div>
    <div class="c_hero-search">
      {{search instant=settings.instant_search class='search search-full'}}
    </div>
  </div>
  <img class="c_hero-image" src="{{settings.homepage_background_image}}" alt="{{dc 'welcome_support_message'}}" />
  <div class="c_hero-overlay"></div>
</section>

<!--<div class="section c_paralax">
  <img src="{{asset 'bo_hero_paralax.jpg'}}" data-speed="-1" class="c_paralax-image">
</div>-->

<div class="container">
  <section class="section c_products">
    <ul>
      {{#each categories}}
        {{#if ../has_multiple_categories}}
          {{#isnt id 360002291372}}
            {{#isnt id 360002304511}}
              {{#isnt id 360002304531}}
                {{#isnt id 360002304551}}
                  <li class="c_products-item">
                    <a href='{{url}}' class="c_products-itemLink" data-id="{{id}}">
                      <div class="c_products-itemVisual">
                        {{#is id 360002296932}}<img src="{{asset 'bo_speakers.png'}}" alt="{{name}}" />{{/is}}
                        {{#is id 360002304491}}<img src="{{asset 'bo_headphones.png'}}" alt="{{name}}" />{{/is}}
                        {{#is id 360002296952}}<img src="{{asset 'bo_televisions.png'}}" alt="{{name}}" />{{/is}}
                        {{#is id 360002296952}}<img src="{{asset 'bo_televisions.png'}}" alt="{{name}}" />{{/is}}
                        {{#is id 360002384932}}<img src="{{asset 'bo_accessories.png'}}" alt="{{name}}" />{{/is}}
                        {{#is id 360002384932}}<img src="{{asset 'bo_accessories.png'}}" alt="{{name}}" />{{/is}}
                        {{#is id 360002405932}}<img src="{{asset 'bo_apps.png'}}" alt="{{name}}" />{{/is}}
                        {{#is id 360002413751}}<img src="{{asset 'bo_others.png'}}" alt="{{name}}" />{{/is}}
                      </div>
                      <h4 class="c_products-itemTitle">{{name}}</h4>              
                    </a>
                  </li>
                {{/isnt}}
              {{/isnt}}  
            {{/isnt}}
          {{/isnt}}
        {{/if}}
      {{/each}}
    </ul>    
  </section>

  {{#each categories}}
    {{#is id 360002291372}}
      {{#each sections}}
        {{#is id 360007112072}}
          {{#each articles}}
            {{#is id 360037095852}}
              <div class="section c_teaserBlock">
                <div class="c_teaserBlock-visual">
                  <img src="{{asset 'bo_setup_customize.jpg'}}" alt="{{title}}" data-speed="1.25" class="c_paralax-image" />
                </div>
                <div class="c_teaserBlock-content">
                  <h3>{{title}}</h3>
                  <p>{{excerpt body characters=100}}</p>
                  <a  href="{{url}}" class="c_teaserBlock-cta">{{dc 'get_started'}}</a>
                </div>
              </div>
            {{/is}}
          {{/each}}
        {{/is}}
      {{/each}}
    {{/is}}
  {{/each}}
  
  <section class="section c_contact">
    <h2>{{dc 'hp_we_are_here'}}</h2>
    <div class="c_contact-chat">
      <div class="c_contact-icon"><img src="{{asset 'ico_instant_chat.svg'}}" alt="{{dc 'contact_chat_cta'}}" /></div>
      <div class="c_contact-content">
        {{dc 'contact_chat'}}
      </div>        
      <div class="c_contact-cta">
        <a href="#" class="c_contact-ctaLink">{{dc 'contact_chat_cta'}}</a>
      </div>        
    </div>
    <div class="c_contact-email">
      <div class="c_contact-icon"><img src="{{asset 'ico_send_email.svg'}}" alt="{{dc 'contact_email_cta'}}" /></div>
      <div class="c_contact-content">
        {{dc 'contact_email'}}
      </div>        
      <div class="c_contact-cta">
        <a href="#" class="c_contact-ctaLink">{{dc 'contact_email_cta'}}</a>
      </div>        
    </div>
    <div class="c_contact-talk">
      <div class="c_contact-icon"><img src="{{asset 'ico_talk.svg'}}" alt="{{dc 'contact_talk_cta'}}" /></div>
      <div class="c_contact-content">
        {{dc 'contact_talk'}}
      </div>        
      <div class="c_contact-cta">
        <a href="#" class="c_contact-ctaLink">{{dc 'contact_talk_cta'}}</a>
      </div>        
    </div>
  </section>

  <!--
    {{#if help_center.community_enabled}}
    <section class="section home-section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
  {{/if}}

  {{#if settings.show_recent_activity}}
    <section class="section home-section activity">    
      {{recent_activity}}    
    </section>
  {{/if}}

</div>

-->

<!-- modal box sample
<div class="section">
  <div class="container">
    <a href="#" class="modalTrigger" data-modal="c_modal-message">Modal box</a>
  </div>
</div>

<div id="c_modal-message" class="c_modal c_modal-small c_modal-centered">
  <div class="c_modal-close"><span class="icon-close"></span></div>
  <div class="c_modal-content">
    <h3>Sorry for the mess but we're learning here</h3>
    <p>We are currently running a pilot for our new support section.</p>
    <p>This pilot is only covering our E8 and H9 headphones product range and it seems like you are looking for support with another product.</p>
    <p>Don't worry. the link below will take  you to our regular support section.</p>    
  </div>
  <div class="c_modal-cta">
    <a class="c_modal-primaryCTA" href="https://www.bang-olufsen.com/en/customer-service">B &amp; O Regular Support</a>
  </div>
</div>
<div class="c_modal-backdrop"></div>
-->

<script type="text/javascript">
  window.BO_settings = {
    "customize_article_id" : "{{dc 'customize_your_product_article_id'}}"
  };
</script>