<div data-type='search-header-results' id="search-header"></div>

<!-- Federated Search-->
<div class="container" id="existing-search">
 <div class="breadcrumbs-inner">
    {{breadcrumbs}}
  </div>

 <div class="container">
  <div class="results">
    <section class="results-sidebar">
      <section class="filters-in-section collapsible-sidebar">
        <h3 class="collapsible-sidebar-title sidenav-title">By Help Center</h3>
        <ul>
          {{#each help_center_filters}}
            <li aria-selected="{{selected}}">
              <a href="{{url}}" class="sidenav-item">{{name}}</a>
            </li>
          {{/each}}
        </ul>
      </section>
      <section class="filters-in-section collapsible-sidebar">
        <h3 class="collapsible-sidebar-title sidenav-title">{{t 'filter_by_type'}}</h3>
        <ul>
          {{#each type_filters}}
            <li aria-selected="{{selected}}">
              <a href="{{url}}" class="sidenav-item">{{name}}</a>
            </li>
          {{/each}}
        </ul>
      </section>
      {{#if subtype_filters}}
        <section class="filters-in-section collapsible-sidebar">
          {{#is current_filter.identifier 'knowledge_base'}}
            <h3 class="collapsible-sidebar-title sidenav-title">{{t 'filter_by_category'}}</h3>
          {{/is}}
          {{#is current_filter.identifier 'community'}}
            <h3 class="collapsible-sidebar-title sidenav-title">{{t 'filter_by_topic'}}</h3>
          {{/is}}
          <ul>
            {{#each subtype_filters}}
              <li aria-selected="{{selected}}">
                <a href="{{url}}" class="sidenav-item">{{name}}</a>
              </li>
            {{/each}}
          </ul>
        </section>
      {{/if}}
    </section>

    <section class="results-column">
      <h3 class="results-subheading">
      {{#is current_filter.identifier 'unified'}}
        {{t 'preview_result_header' query=query count=results_count}}
      {{else}}
        {{#is current_subtype_filter.identifier 'all'}}
          {{t 'results' query=query count=results_count}}
        {{else}}
          {{t 'results_with_scope' query=query count=results_count scope_name=current_subtype_filter.label}}
        {{/is}}
      {{/is}}
      </h3>
      {{#if results}}
        <ul class="results-list">
          {{#each results}}
            <li class="results-list-item result-{{type}}">
              <a href="{{url}}" class="results-list-item-link">{{title}}</a>
              <div class="results-icons">
                {{#if vote_sum}}
                  <span class="results-votes">{{vote_sum}}</span>
                {{/if}}
                {{#if comment_count}}
                  <span class="results-meta-count">
                    {{comment_count}}
                  </span>
                {{/if}}
              </div>
              <ul class="meta-group">
                <li>
                  <ol class="breadcrumbs results-breadcrumbs">
                    {{#each path_steps}}
                      <li title="{{name}}"><a href="{{url}}">{{name}}</a></li>
                    {{/each}}
                  </ol>
                </li>
                <li class="meta-data">{{author.name}}</li>
                <li class="meta-data">{{date created_at}}</li>
              </ul>
              <div class="results-description">{{text}}</div>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p>
          {{t 'no_results_unified'}}
          {{#link 'help_center'}}
            {{t 'browse_help_center'}}
          {{/link}}
        </p>
      {{/if}}
    </section>
  </div>
  {{pagination}}
</div>
</div>



<link rel="stylesheet" href="https://zen-marketing-documentation.s3.amazonaws.com/docs/search_assets/algolia-search.css" />
<script type="text/javascript" src="https://zen-marketing-documentation.s3.amazonaws.com/docs/search_assets/algolia-search.js"></script>

