<section class="c_hero c_hero--inner">
  <div class="c_hero-inner">
    <div class="c_hero-message">{{section.description}} Support</div>    
  </div>
  {{#is section.id 360007332792}}<img class="c_hero-image" src="{{asset 'bo_header_headphones_e8.jpg'}}" alt="{{section.name}}" />{{/is}}            
  <div class="c_hero-overlay"></div>
</section>

<div class="container">

  <div class="c_breadcrumb">
    {{breadcrumbs}}
  </div>

  <div class="c_pageHeader">
    <h2>Get the most out of your {{section.description}}</h2>
  </div>

  {{#if section.articles}}
  <div class="c_promoted-articles">    
      {{#each section.articles}}
        {{#if promoted}}
          <div class="c_promoted-articles-item">
            <h3>{{title}}</h3>
            <p>{{excerpt body characters=100}}</p>
            <a href="{{url}}" class="c_promoted-articles-link">Read More <img src="{{asset 'arrow-forward-dark.svg'}}" alt="Read More" /></a>
          </div>       
        {{/if}}
      {{/each}}
  </div>
  {{/if}}

  {{#if section.articles}}
    <div class="c_pageHeader">
      <h2>Need help?</h2>
    </div>
    <div class="c_article-list">      
      {{#each section.articles}}
        {{#unless promoted}}
          <div class="article-list-item">                              
            <a href="{{url}}" class="c_article-list-link">{{title}} <img src="{{asset 'arrow-forward-dark.svg'}}" alt="" /></a>
          </div>
        {{/unless}}
      {{/each}}
      {{pagination}}
    </div>
  {{/if}}

  <div class="c_search-scoped">
    <h3>Use the search field or select a category to find FAQs for your {{section.description}}</h3>
    {{search scoped=false submit=false}}
  </div>  

  {{#if section.sections}}
    <div class="c_section-category">
      {{#each section.sections}}
      <div class="c_section-category-item">
        <a href="{{url}}" class="c_section-category-link">
            <span>{{name}}</span>            
            <img src="{{asset 'arrow-forward-dark.svg'}}" alt="" />
          </a>
      </div>
      {{/each}}
    </div>
  {{/if}}

  <div class="c_teaserBlock">
    <div class="c_teaserBlock-visual">
      {{#is section.id 360007332792}}<img src="{{asset 'bo_headphones_e8_user_guide.jpg'}}" alt="{{section.description}}" data-speed="1.25" class="c_paralax-image" />{{/is}}
    </div>
    <div class="c_teaserBlock-content">
      <h3>User guides and software updates</h3>
      <p>You can download the user guides for your {{section.description}} and the Software Updater for Mac and PC right here.</p>      
      {{#is section.id 360007332792}}<a  href="{{help_center.url}}/articles/360037735551" class="c_teaserBlock-cta">{{section.description}} Downloads <img src="{{asset 'arrow-forward.svg'}}" alt="{{section.description}} Downloads" /></a>{{/is}}
    </div>
    <div class="c_teaserBlock-overlay"></div>
  </div>

  <section class="c_support">
    <div class="c_support-item">
      <a href="#">
        <div class="c_support-itemVisual">
          <img src="{{asset 'bo_register_product.jpg'}}" alt="" />
        </div>
        <div class="c_support-itemContent">
          Register your product
        </div>
        <div class="c_suppoprt-itemCTA">
          Register Product <img src="{{asset 'arrow-forward.svg'}}" alt="" />
        </div>
      </a>
    </div>
    <div class="c_support-item">
      <a href="#">
        <div class="c_support-itemVisual">
          <img src="{{asset 'bo_warranty_service.jpg'}}" alt="" />
        </div>
        <div class="c_support-itemContent">
          We provide full coverage with B&amp;O specialist repairs and replacements
        </div>
        <div class="c_suppoprt-itemCTA">
          Warranty service <img src="{{asset 'arrow-forward.svg'}}" alt="" />
        </div>
      </a>
    </div>
    <div class="c_support-item">
      <a href="#">
        <div class="c_support-itemVisual">
          <img src="{{asset 'bo_track_repair.jpg'}}" alt="" />
        </div>
        <div class="c_support-itemContent">
          Want to check the status of your warranty repair?
        </div>
        <div class="c_suppoprt-itemCTA">
          Track repair <img src="{{asset 'arrow-forward.svg'}}" alt="" />
        </div>
      </a>
    </div>
    <div class="c_support-item">
      <a href="#">
        <div class="c_support-itemVisual">
          <img src="{{asset 'bo_return_order.jpg'}}" alt="" />
        </div>
        <div class="c_support-itemContent">
          Return your product within 30 days of purchase for a full refund.
        </div>
        <div class="c_suppoprt-itemCTA">
          Return order <img src="{{asset 'arrow-forward.svg'}}" alt="" />
        </div>
      </a>
    </div>
  </section>

  <section class="c_contact">
    <h2>{{dc 'hp_we_are_here'}}</h2>
    <div class="c_contact-item c_contact-chat">
      <div class="c_contact-icon"><img src="{{asset 'ico_instant_chat.svg'}}" alt="{{dc 'contact_chat_cta'}}" /></div>
      <div class="c_contact-content">
        {{dc 'contact_chat'}}
      </div>        
      <div class="c_contact-cta">
        <a href="#" class="c_contact-ctaLink">{{dc 'contact_chat_cta'}} <img src="{{asset 'arrow-forward-dark.svg'}}" alt="{{dc 'contact_chat_cta'}}" /></a>
      </div>        
    </div>
    <div class="c_contact-item c_contact-email">
      <div class="c_contact-icon"><img src="{{asset 'ico_send_email.svg'}}" alt="{{dc 'contact_email_cta'}}" /></div>
      <div class="c_contact-content">
        {{dc 'contact_email'}}
      </div>        
      <div class="c_contact-cta">
        <a href="#" class="c_contact-ctaLink">{{dc 'contact_email_cta'}} <img src="{{asset 'arrow-forward-dark.svg'}}" alt="{{dc 'contact_email_cta'}}" /></a>
      </div>        
    </div>
    <div class="c_contact-item c_contact-talk">
      <div class="c_contact-icon"><img src="{{asset 'ico_talk.svg'}}" alt="{{dc 'contact_talk_cta'}}" /></div>
      <div class="c_contact-content">
        {{dc 'contact_talk'}}
      </div>        
      <div class="c_contact-cta">
        <a href="#" class="c_contact-ctaLink">{{dc 'contact_talk_cta'}} <img src="{{asset 'arrow-forward-dark.svg'}}" alt="{{dc 'contact_talk_cta'}}" /></a>
      </div>        
    </div>
  </section>

</div>