<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}    
  </nav>

  <div class="article-container" id="article-container">
    <article class="article">
      <section class="article-info">
        <div class="article-content">
            <div class="article-body article-user-guides-manuals">
                {{article.body}}
            </div>
            <div class="article-attachments">
                <ul class="attachments">
                {{#each attachments}}
                    <li class="attachment-item">
                    <a href="{{url}}" target="_blank">{{name}}</a>
                    <div class="attachment-meta meta-group">
                        <span class="attachment-meta-item meta-data">{{size}}</span>
                        <a href="{{url}}" target="_blank" class="attachment-meta-item meta-data">Download</a>
                    </div>
                    </li>
                {{/each}}
                </ul>
            </div>
        </div>
      </section>                  
    </article>
  </div>
</div>
